*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* Start Working with project */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 133px 0; */
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

/* Section Result */

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  overflow: hidden;
}

.result__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  min-width: 711px;
}

.search-form__fieldset {

}

.search-form__fieldset-title {

}

.search-form__label {

}

.search-form__label-text {

}

.search-form__textfield {

}

/* Content Details */

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  color: #545050;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__list-container {
  gap: 30px;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
}
